DATABASE_TYPE=sqlite
INTRUST_STORAGE_DIR=storage
INTRUST_LOG_DIR=logs
SQLITE_DATABASE_FILE=intrust.db

MYSQL_DATABASE=intrust
MYSQL_USER=intrust
MYSQL_PASSWORD=intrustpass
MYSQL_ROOT_PASSWORD=rootpass
