/bin/trivy
/bin/trivy.exe
/.env
/venv
/tools/__pycache__
/__pycache__
**/__pycache__/
/cache
/storage
/logs
/results
/scan-*.json
/scan-fs-intent-002.json
/trivy-compliance-report.json
/trivy-report.json
