/bin/trivy
/bin/trivy.exe
/bin/crane
/bin/crane.exe
/benchmark/data/image_cache/
/.env
/venv
/tools/__pycache__
/__pycache__
**/__pycache__/
/cache
/storage
/logs
/scan-*.json
/scan-fs-intent-002.json
/trivy-compliance-report.json
/trivy-report.json
/SOCC_paper
/ICSOC_paper
